:root {
    --cor-principal: #334257;
    --cor-secundaria: #476072;
    --cor-terciaria: #548CA8;
    --cor-branca: #EEEEEE;
}

header {
    background-color: var(--cor-principal);
    /* box-shadow: 0px 3px 10px var(--cor-secundaria); */
    border-bottom: #EEEEEE;
}

.nav-bar .logo {
    width: 200px;
    height: 130px;
}

/* .logo h2 {
    font-size: 3rem;
    color: var(--cor-branca);
    transition: 0.4s ease-in-out;
} */

/* .logo h2:hover {
    color: var(--cor-terciaria);
} */

/* .logo {
    display: flex;
    align-items: center;
    gap: 15px;
} */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 45px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-list ul li {
    padding: 10px;
    transition: 0.4s ease-in-out;
}

.nav-list ul li:hover {
    background-color: var(--cor-terciaria);
}

.nav-item {
    margin: 0px 15px;
}

.nav-link {
    font-size: 2rem;
    color: var(--cor-branca);
    font-weight: 400;
}

.icones i {
    color: #FFFFFF;
}

.icones {
    display: none;
}

.menu-mobile {
    display: none;
}

.container-busca {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 152px;
}

.container-busca .container-opcoes-de-busca {
    display: flex;
    justify-content: center;
}

.container-busca .busca {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
    width: 85vw;
    height: 150px;
    padding: 20px 70px;
}

.container-busca .busca .titulo-busca {
    text-align: center;
    font-size: 2.2rem;
}

.container-busca .busca .opcoes-busca {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.container-busca .busca .opcoes-busca select {
    background-color: #FFFFFF;
    width: 150px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px;
}

.container-busca .botao-buscar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container-busca .botao-buscar button {
    background-color: var(--cor-terciaria);
    width: 50px;
    height: 30px;
    border: solid 0.5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.container-busca .botao-buscar button:hover {
    background-color: var(--cor-secundaria);
}

.container-busca .botao-buscar button:hover i {
    color: var(--cor-branca);
}

.container-busca,
.imagem-principal,
.titulo-imoveis,
.container-imoveis,
.botao-ver-todos,
.banner-mobile {
    visibility: hidden;
}

.financiamento {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(54,128,164,1) 100%);
    margin-top: 20px;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin: 50px 0;
}

.financiamento .titulo-financiameto {
    font-size: 2.8rem;
    color: var(--cor-branca);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.financiamento .botao-financiamento {
    background-color: #FFFFFF;
    width: 350px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.financiamento .botao-financiamento:hover {
    background: rgb(71,96,114);
    background: linear-gradient(90deg, rgba(71,96,114,1) 90%, rgba(0,0,0,1) 100%);
    color: #FFFFFF;
    width: 355px;
    height: 40px;
}

.financiamento .botao-financiamento:hover i {
    color: #FFFFFF;
}

.bancos {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    transition: 2s ease-in-out;
    margin-bottom: 40px;
}

.bancos a:first-child img {
    width: 110px;
    height: 80px;
}

.bancos a:nth-child(2) img {
    width: 120px;
    height: 100px;
}

.bancos a:nth-child(3) img {
    width: 130px;
    height: 130px;
}

.bancos a:last-child img {
    width: 140px;
    height: 60px;
}

.bancos a {
    background-color: white;
    padding: 0px 15px;
    border: solid 1px var(--cor-principal);
    transition: 0.5s ease;
    width: 170px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bancos a:hover {
    border: solid 1px var(--cor-terciaria);
    transform: translateY(-2px);
}


.banner-mobile {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container .left img {
    width: 600px;
    height: 300px;
}

.container .top img {
    width: 200px;
    height: 150px;
}

.container .right img {
    width: 805px;
    height: 300px;
}

.container .left {
    position: absolute;
    left: 0;
}

.container .top {
    position: absolute;
    left: 515px;

}

.container .right {
    position: absolute;
    left: 520px;
}

.left,
.top,
.right {
    visibility: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
}

.titulo-imoveis {
    font-size: 2.7rem;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.container-imoveis {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}


.container-imoveis .caixa-imovel img {
    width: 100%
}

.container-imoveis .caixa-imovel {
    background-color: var(--cor-branca);
    width: 240px;
    height: 430px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.container-imoveis .caixa-imovel .valor,
.container-imoveis .caixa-imovel .modalidade,
.container-imoveis .caixa-imovel .categoria {
    font-size: 2rem;
    padding: 5px 10px;
}

.container-imoveis .caixa-imovel .localidade {
    font-size: 1.5rem;
    padding: 5px 10px;
}

.container-imoveis .caixa-imovel .container-infos {
    display: flex;
    justify-content: center;
}

.container-imoveis .caixa-imovel .infos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 1.5rem;
    width: 60%;
    gap: 5px;
}

.container-imoveis .caixa-imovel:hover {
    transform: scale(1.05);
}

.botao-ver-todos button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    font-size: 2rem;
    border: none;
    background-color: #334257;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s ease;
}

.botao-ver-todos button:hover {
    background-color: #476072;
}

.meio {
    text-align: center;
}


.botao-flutuante {
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.botao-flutuante img {
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.container-sobre {
    display: flex;
}

.container-sobre .conteudo {
    padding: 50px 40px;
}

.container-sobre .conteudo .titulo-sobre {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-sobre .conteudo .conteudo-sobre {
    font-size: 1.3rem;
    margin-right: 50px;
    width: 600px;
}

.container-sobre .imagem-sobre {
    background-color: var(--cor-terciaria);
    width: 503px;
    height: 340px;
    margin-top: 50px;
}

.pag-imoveis {
    margin-top: 0;
    margin-bottom: 30px;
}

.mostrar {
    display: block flex;
}

.container-contato .contato {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.container-contato .titulo-contato {
    font-size: 3.6rem;
    text-align: center;
    padding: 25px;
}

.container-contato .contato .infos-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-contato .contato .infos-contato a,
.container-contato .contato .infos-contato p {
    font-size: 2rem;
}

.container-contato .contato .infos-contato i {
    color: var(--cor-terciaria);
}

.container-contato .contato .infos-enviar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-contato .contato .infos-enviar:last-child {
    display: flex;
    align-items: center;
}

.container-contato .contato .infos-enviar textarea {
    border: solid 1px var(--cor-secundaria);
    outline: none;
    resize: none;
    text-indent: 5px;
}

.container-contato .contato .infos-enviar textarea:first-child,
.container-contato .contato .infos-enviar textarea:nth-child(2),
.container-contato .contato .infos-enviar textarea:nth-child(3) {
    height: 25px;
}

.container-contato .contato .infos-enviar .btn-enviar,
.trabalhe-conosco .conteudo-trabalhe-conosco .btn-trabalhe,
.comprar .botoes-comprar .btn-wpp,
.comprar .botoes-comprar .btn-insta,
.comprar .botoes-comprar .btn-email {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    font-size: 2rem;
    border: none;
    background-color: #334257;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s ease;
}

.container-contato .contato .infos-enviar .btn-enviar:hover,
.trabalhe-conosco .conteudo-trabalhe-conosco .btn-trabalhe:hover {
    background-color: var(--cor-secundaria);
}

.trabalhe-conosco {
    background-color: var(--cor-terciaria);
    display: flex;
}

.trabalhe-conosco .conteudo-trabalhe-conosco {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-branca);
}

.trabalhe-conosco .conteudo-trabalhe-conosco .titulo-trabalhe {
    font-size: 4rem;
    padding: 10px 0;
}

.trabalhe-conosco .conteudo-trabalhe-conosco .descricao-trabalhe {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    width: 60%;
}

.trabalhe-conosco .conteudo-trabalhe-conosco .btn-trabalhe {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trabalhe-conosco img {
    width: 500px;
    height: 350px;
}

.trabalhe-conosco .logo-trabalhe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}






.infos-imoveis .caixa-imovel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-imoveis .caixa-imovel.produto {
    height: 10%;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.infos-imoveis {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.imagens-imovel {
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
}

.imagens-imovel .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 300px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    position: absolute;
}

.imagens-imovel .slide.mostrar {
    opacity: 1;
}

.slide-um {
    background-image: url(http://placekitten.com/g/600/300);
}

.slide-dois {
    background-image: url(http://placekitten.com/g/600/300);
}

.slide-tres {
    background-image: url(http://placekitten.com/g/600/300);
}

.image-arrow {
    width: 35px;
}

.arrow-back,
.arrow-go {
    position: absolute;
    z-index: 1;
}

.arrow-back {
    left: 4%;
}

.arrow-go {
    right: -16%;
    transform: rotateY(180deg);
}

.opacity {
    opacity: 0.6;
    cursor: default;
}

/* ------------ */

.container-infos-comprar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.container-infos-comprar .descricao-mapa {
    width: 55%;
    padding: 25px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* .container-infos-comprar  .descricao-mapa .descricao {
    
} */

.container-infos-comprar .descricao-mapa h2 {
    font-size: 2rem;
    margin-bottom: 8px;
}


.container-infos-comprar .descricao-mapa .categoria-e-preco {
    display: flex;
    justify-content: space-between;
}

.container-infos-comprar .descricao-mapa .descricao p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}

.container-infos-comprar .descricao-mapa .mapa img {
    width: 100%;
}

.container-infos-comprar .container-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-infos-comprar .container-comprar .comprar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    margin-top: 25px;
}

.container-infos-comprar .container-comprar .titulo-comprar {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 30px;
}

.container-infos-comprar .container-comprar .comprar .texto-comprar {
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 300;
}

.container-infos-comprar .container-comprar .comprar .botoes-comprar {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.container-comprar .comprar .botoes-comprar .btn-wpp,
.container-comprar .comprar .botoes-comprar .btn-insta,
.container-comprar .comprar .botoes-comprar .btn-email {
    text-align: center;
    display: flex;
    align-items: center;
    width: 255px;
    height: 60px;
}

.container-comprar .comprar .botoes-comprar .btn-wpp {
    background-color: #0B6138;
}

.container-comprar .comprar .botoes-comprar .btn-insta {
    background-color: #B4045F;
}

.container-comprar .comprar .botoes-comprar .btn-email {
    background-color: #8B0000
}







.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cor-principal);
}

.footer .texto-footer {
    width: 100vw;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
}

.footer .nav-footer {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.footer .nav-footer li {
    font-size: 1.7rem;
    transition: 0.2s ease;
    color: #FFFFFF;
}

.footer .nav-footer li i {
    font-size: 2.2rem;
    transition: 0.2s ease;
    color: #FFFFFF;
}

.footer .nav-footer li:hover,
.footer .nav-footer li i:hover {
    color:var(--cor-terciaria);
}
