@media (max-width: 730px) {
    :root {
        --cor-principal: #334257;
        --cor-secundaria: #476072;
        --cor-terciaria: #548CA8;
        --cor-branca: #EEEEEE;
    }

    .nav-bar {
        padding: 15px 40px;
    }

    .nav-item {
        display: none;
    }

    .icone-menu-mobile .icone,
    .icone-fechar-mobile .icone {
        font-size: 3rem;
        cursor: pointer;
        color: var(--cor-branca);
    }

    .icones {
        position: relative;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    .icone-fechar-mobile,
    .icone-menu-mobile {
        position: absolute;
        display: flex;
        align-items: center;
        transition: 0.9s;
    }

    .icone-fechar-mobile {
        opacity: 0;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin: 0 10px;
        padding-bottom: 10px;
    }

    .menu-mobile .nav-item {
        display: block;
        padding-top: 12px;
    }

    .abrir {
        display: block;
    }

    .mostrar {
        opacity: 1;
        transform: rotate(180deg);
    }

    .esconder {
        opacity: 0;
        transform: rotate(180deg);
    }

    .container-busca {
        height: 290px;
    }

    .container-busca .busca {
        height: 285px;
        flex-direction: column;
    }

    .container-busca .busca .titulo-busca {
        font-size: 2rem;
    }

    .container-busca .busca .opcoes-busca {
        flex-direction: column;
        padding: 10px 10px;
    }

    .container-busca .busca .opcoes-busca select {
        width: 150px;
        font-size: 1.5rem;
    }

    .container-busca .busca .opcoes-busca option {
        font-size: 1rem;
    }

    .container {
        display: none;
    }

    .banner-mobile {
        display: block;
        width: 100vw;
        height: 400px;
        background-image: url(http://placekitten.com/800/400);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-mobile h3 {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        color: #FFFFFF;
    }

    section {
        margin-top: 25px;
    }

    .bancos {
        transform: rotateZ(0deg);
        flex-direction: column;
        height: 300px;
    }

    .bancos a {
        width: 150px;
        height: 60px;
    }

    .container-sobre {
        flex-direction: column;
    }

    .container-sobre .conteudo .conteudo-sobre {
        font-size: 1.4rem;
        margin-right: 50px;
        width: 100%;
        text-align: initial;
    }

    .container-sobre .imagem-sobre {
        margin-top: 20px;
    }

    .container-contato .contato {
        flex-direction: column;
        height: 80vh;
    }

    .container-contato .titulo-contato {
        padding: 10px;
    }

    .container-contato .contato .infos-contato {
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    .container-contato .contato .infos-enviar textarea {
        width: 95%;
    }

    .trabalhe-conosco {
        flex-direction: column;
    }

    .trabalhe-conosco .conteudo-trabalhe-conosco {
        width: 100vw;
    }

    .trabalhe-conosco .conteudo-trabalhe-conosco .titulo-trabalhe {
        text-align: center;
    }

    .trabalhe-conosco .conteudo-trabalhe-conosco .descricao-trabalhe {
        width: 80%;
    }

    .trabalhe-conosco .logo-trabalhe {
       width: 100vw;
    }

    .trabalhe-conosco .logo-trabalhe img {
        width: 260px;
        height: 25vh;
    }

    .slide-um {
        background-image: url(http://placekitten.com/g/600/300);
    }
    
    .slide-dois {
        background-image: url(http://placekitten.com/g/600/300);
    }
    
    .slide-tres {
        background-image: url(http://placekitten.com/g/600/300);
    }

    .infos-imoveis {
        flex-direction: column-reverse;
    }

    .infos-imoveis .imagens-imovel {
        transform: rotate(180deg);
        width: 600px;
    }

    .container-infos-comprar {
        display: flex;
        flex-direction: column;
    }

    .container-infos-comprar .descricao-mapa .descricao {
        width: 85vw;
    }

    .container-infos-comprar .descricao-mapa .descricao p {
        text-align: justify;
    }
   
    .container-infos-comprar .descricao-mapa .mapa {
        width: 85vw;
    }

    .container-infos-comprar .comprar {
        width: 90vw;
    }



    .footer {
        margin-top: 20px;
        height: 200px;
    }

    .footer .texto-footer {
        font-size: 1.7rem;
        padding: 10px 10px;
    }

    .footer .nav-footer {
        padding-bottom: 20px;
        width: 100%;
    }

    .footer .nav-footer li {
        font-size: 1.7rem;
    }
    
    .footer .nav-footer li i {
        font-size: 2.6rem;
        padding-left: 5px;
    }

}