@media (max-width: 730px) {
    :root {
        --cor-principal: #334257;
        --cor-secundaria: #476072;
        --cor-terciaria: #548CA8;
        --cor-branca: #EEEEEE;
    }
    
    .nav-bar {
        padding: 15px 40px;
    }

    .nav-item {
        display: none;
    }

    .icone-menu-mobile .icone,
    .icone-fechar-mobile .icone {
        font-size: 3rem;
        cursor: pointer;
        color: var(--cor-branca);
    }

    .icones {
        position: relative;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    .icone-fechar-mobile,
    .icone-menu-mobile {
        position: absolute;
        display: flex;
        align-items: center;
        transition: 0.9s;
    }

    .icone-fechar-mobile {
        opacity: 0;
    }


    .menu-mobile ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .menu-mobile .nav-item {
        display: block;
        padding-top: 12px;
    }

    .abrir {
        display: block;
    }

    .mostrar {
        opacity: 1;
        transform: rotate(180deg);
    }

    .esconder {
        opacity: 0;
        transform: rotate(180deg);
    } 

    .container-busca {
        height: 290px;
    }

    .container-busca .busca {
        height: 285px;
        display: flex;
        flex-direction: column;
    }

    .container-busca .busca .opcoes-busca {
        flex-direction: column;
        padding: 10px 10px;
    }

    .container-busca .botao-buscar {
        justify-content: center;
        margin-top: 10px;
    }

    .container-busca .busca .opcoes-busca select {
        width: 150px;
        margin-left: 20px;
        font-size: 1.7rem;
    }

    .container-busca .busca .opcoes-busca option {
        font-size: 1rem;
    }

}